/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', normal; 
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
h2 {
	font-family: "Anton", sans-serif;
  }
	
	.container {
		/*margin: 0 auto; */
		/*border: 2px solid red; */
		/*width: 80%; */
	 }
	
	
	header {
		/*border: 2px solid red; */
		margin-top: 2.5rem;
		display: flex;
		justify-content: space-between;
		margin-left: 18rem;
		width: 63%;
	}
	
	a {
		text-decoration: none;
		color: gray;
		
		}

		.main-div {
			/*border: 2px solid red; */
			width: 80%;
			display: flex;
			justify-content: space-evenly;
			margin: 0 6rem 0 8rem; 
			align-items: center;
			
			}

			.h1-div  {
			/*border: 2px solid red; */ 
			display: flex;
			flex-direction: column;
			padding: 4rem 0rem 0rem 3.5rem;
			margin: 2rem 0rem 0rem 10rem;
			height: 50%;
			width: 50%;
			font-size: 4.5rem;
			
			
			}

			h1.first-word {
				/*border: 2px solid red; */
				padding-left: 2rem;
				
				 }

			 h1.second-word {
			/*border: 2px solid red; */
			padding-left: 7.5rem;
			
			 }
			
			 h1.third-word {
				/*border: 2px solid red; */
				padding-left: 4rem;
			 }

			 .middle-pic {
			/*border: 2px solid red; */
			margin: 4rem 0rem 0rem 10rem;
				
				
		}

		.get-started-button {
			/*border: 2px solid red; */
			border: 1px solid black;
			padding: 8px 45px;
			font-size: 17px;
			margin-left: 23rem;
			position: relative;
			top: -2.5rem;
		}

		.index-wrapper {
			/*border: 2px solid red; */
			width: 90%; 
			margin-left: 8rem;
		}

		.info {
			/*border: 2px solid red; */
			width: 81%;
			display: flex;
			margin-left: 8rem;
			margin-top: 4rem; 
			border-top: 1px solid black;
			padding-top: 2rem;
			}

			.feature-div {
				
			/*border: 2px solid red; */
			padding-right: 1rem;
			 
			}

			.middle-img {
				/*border: 2px solid red; */
				margin: 3rem 0rem 3rem 8rem;
				width: 80%;
				
				}

      
.lower-content {
	/*border: 2px solid red; */
	display: flex; 
	width: 80%;
	margin-left: 7.9rem;
	/*padding-right: 30px; */	
	}
	
	.services-div {
	margin-right: 2rem;
	}
	
	.product-div {
	margin-right: 2rem;
	}
	
	.index-ul {
		border-top: 1px solid black;
		margin-left: 130px;
		margin-top: 50px;
		width: 80%;	
		padding-top: 50px;
	}
	
	footer {
		text-align: center;
		padding: 60px 0px 70px 0px;
	}
	
	.container {
		
		width: 88%;
		margin-right: 20rem;
		/*border: 2px solid red;  */
	}

	.services-header-img {
		margin: 1rem 0rem 0rem 17rem;
		width: 74%; 
	}

	

	.h1-services {
		margin:  2rem 0rem 2rem 17rem;
		font-size: 1.5rem;
		
	}

	.services {
		margin-left: 17rem;
		
		
	}

	.hr1 {
		width: 74%;
		border-top:  solid black;
		margin-top: 3rem;
		margin-left: 17rem;
	}

	.services-blocks {
		margin-left: 15.3rem;
		margin-top: -1rem;
		
	}
		
	

	.digital-design {
		display: flex; 
		margin-top: 3rem;
		margin-bottom: 2rem;
		/*border: 2px solid red; */
	
		/*margin-left: 6.5rem; */
	
		 
		
	}



.d-design {
	width: 44.2%;
	margin-left: 1.8rem;
	border: 1px solid black;
	background-color: lightgray;
	padding: 2rem;
}

.ux-ui {
	width: 44.2%;
	margin-left: 2.2rem;
	border: 1px solid black;
	background-color: lightgray;
	padding: 2rem;
}
			




.digital-design2 {
	display: flex;
	margin-bottom: 2rem;

}

.digital-marketing {
	width: 44.2%;
	margin-left: 1.8rem;
	border: 1px solid black;
	background-color: lightgray;
	padding: 2rem;
}

.web-development {
	width: 44.2%;
	margin-left: 2.2rem;
	border: 1px solid black;
	background-color: lightgray;
	padding: 2rem;
}




.digital-design3 {
	display: flex;
	margin-bottom: 2rem;

}

.ios-development {

	width: 44.2%;
	margin-left: 1.8rem;
	border: 1px solid black;
	background-color: lightgray;
	padding: 2rem;
}

.android-development {
	width: 44.2%;
	margin-left: 2.2rem;
	border: 1px solid black;
	background-color: lightgray;
	padding: 2rem;
}

.services-button {
	margin-top: 1rem;
	padding: .5rem;
	width: 35%;
	border-radius: .5rem;
	border: 1.3px solid black;

	/*border: 2px solid red;*/
	
}

.left-button {
	margin-left: .5rem;
	font-size: .8rem;
	margin-bottom: 1.5rem;
	
}

.right-button {
	margin-left: .5rem;
	font-size: .8rem;
	margin-bottom: 1.5rem;
}

.hr2 {
	width: 74%;
	border-top:  solid black;
	margin-top: 3rem;
	margin-left: 17rem;
	}

.some-facts-container {
	display: flex;
	/*border: 2px solid red; */
	width: 90%;
	margin-left: 10.7rem;
	justify-content: center;
}


	
.some-facts {
	display: flex;
	flex-wrap: wrap;
	width: 44.2%;
	/*border: 2px solid green; */
	padding-top: 2rem;
	
}

.some-facts-ul {
	padding-right: 12rem;
	margin-left: -.1rem;
	/*border: 2px solid green; */
}

.facts-paragraph {
	position: relative;
	top: -1.5rem;
}

.services-li {
	list-style: square;
	margin-left: 1.2rem;
	position: relative;
	top: -.1rem;
}

.services-info-img {
	padding-top: 2rem;
	height: 97%;
	/*border: 2px solid green; */
}
			
  